.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.image {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.content {
  padding: 15px;
}
