.button {
  width: 39px;
  height: 39px;
  border-radius: 20px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #dadada;
  font-size: 13px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: #eee;
  }

  &:focus {
    background-color: #fff;
    outline: none;
  }

  &:active {
    background-color: #e6e6e6;
  }
}
