.button {
  width: 36px !important;
  height: 36px !important;
  border-radius: 18px !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #fff !important;
  border: 1px solid #ddd !important;

  &:hover {
    background-color: #eee !important;
  }

  &:focus {
    background-color: #fff !important;
  }

  &:active {
    background-color: #e6e6e6 !important;
  }
}
