$background-color: #f7f7f7;
$main-layout-width: 950px;
$red-color: #d0021b;
$green-color: #53ca6e;

$card-width-big: 462px;
$card-width-medium: 381px;
$card-width-small: 347px;
$card-width-extrasmall: 300px;
