@import "../../common/styles.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  width: $main-layout-width;
  padding-top: 5px;
  padding-bottom: 80px;
  margin: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
