@import "../../common/styles.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  width: $main-layout-width;
  padding-top: 5px;
  padding-bottom: 80px;
  margin: auto;

  @media screen and (max-width: 960px) {
    width: 100%;
    max-width: $card-width-big;
  }

  @media screen and (max-width: 500px) {
    padding-bottom: 5px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;

  @media screen and (max-width: 960px) {
    justify-content: center;
  }
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
}
