.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 25px;
}

.header {
  font-size: 18px;
  font-weight: 600;
  padding: 22px;
  padding-top: 18px;
  margin: 0;

  @media screen and (max-width: 415px) {
    padding: 18px;
  }

  @media screen and (max-width: 321px) {
    padding: 15px;
  }
}

.imageWrapper {
  width: 100%;
  min-height: 260px;
  max-height: 260px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @media screen and (max-width: 960px) {
    min-height: 0;
  }
}

.image {
  width: 100%;
}

.content {
  padding: 19px;
  padding-top: 0;

  @media screen and (max-width: 415px) {
    padding: 16px;
  }

  @media screen and (max-width: 321px) {
    padding: 13px;
  }
}
